.gradle/
build/
.kotlin/
/captures
.externalNativeBuild
.cxx

local.properties

*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/other.xml

*.jks
*.keystore

.DS_Store